/* app css stylesheet */
.navbar {
  margin-top: 15px;
}

/* Google maps */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
}
#view {
  position: fixed;
  top: 70px;
  bottom: 0px;
  right: 0px;
  left:0px
}
.page_container {
  margin-left: 15%;
  margin-right: 15%;
}
.page_container .padding_container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page_container h2 {
  margin-top: 0px;
}
#map {
  height: 100%;
  z-index: 0;
}

#loadingScreen {
  top:70px;
  height: 97%;
  width: 100%;
  z-index: 3;
  position:fixed;
  background: white;
  opacity: 0.5;
}

.category_container{
  position: fixed;
  padding: 2em;
  float:left;
  width: 15%;
  bottom:0px;
  top:70px;
  border-right-style: none;
  background-color: #5178A0;
  color: white;
  z-index: 1;
  opacity: 0.90;
}
#categories {
  -moz-box-shadow:    10px 0 20px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow:         10px 0 20px -10px rgba(0, 0, 0, 0.3);
}
#gmaps_panel {
  -moz-box-shadow:    -10px 0 20px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow:         -10px 0 20px -10px rgba(0, 0, 0, 0.3);
}
.category_container legend {
  color: white;
  font-weight: 200;
}

/*Categories slider */
.slide_categories_active {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: category_slide_left 600ms ; /* Chrome, Safari, Opera */
  animation: category_slide_left 600ms ;
  left: 0px;
}
.slide_categories_inactive {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation: category_slide_right 600ms ; /* Chrome, Safari, Opera */
  animation: category_slide_right 600ms ;
  left: -15%;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes category_slide_left {
  from {left: -15%;}
  to {left: 0;}
}
/* Standard syntax */
@keyframes category_slide_left {
  from {left: -15%;}
  to {left: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes category_slide_right {
  from {left: 0;}
  to {left: -15%;}
}
/* Standard syntax */
@keyframes category_slide_right {
  from {left: 0;}
  to {left: -15%;}
}
/*Gmaps slider */
.slide_gmaps_active {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: gmaps_slide_left 600ms ; /* Chrome, Safari, Opera */
  animation: gmaps_slide_left 600ms ;
  right: 0px;
}
.slide_gmaps_inactive {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation: gmaps_slide_right 600ms ; /* Chrome, Safari, Opera */
  animation: gmaps_slide_right 600ms ;
  right: -15%;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes gmaps_slide_left {
  from {right: -15%;}
  to {right: 0;}
}
/* Standard syntax */
@keyframes gmaps_slide_left {
  from {right: -15%;}
  to {right: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes gmaps_slide_right {
  from {right: 0;}
  to {right: -15%;}
}
/* Standard syntax */
@keyframes gmaps_slide_right {
  from {right: 0;}
  to {right: -15%;}
}


#categories_button{
  left: 100%;
  -moz-box-shadow:    10px 0 20px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow:         10px 0 20px -10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#gmaps_panel_button{
  right: 100%;
  -moz-box-shadow:    -10px 0 20px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow:         -10px 0 20px -10px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#categories_button, #gmaps_panel_button {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 60px;
  background-color: #5178A0;
  z-index: 2;
}
#categories_button, #gmaps_panel_button span {
  font-size: 20px;
  line-height: 3;
  cursor: pointer;
}
#navbar {
  margin-left: 15%;
  margin-right: 15%;
  position: fixed;
  height: 70px;
  top: 0;
  right: 0px;
  left: 0px;
}
#navbar a {
  height: 70px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
#navbar a:hover {
  color: #EC8351;
}
.navbar-nav, .navbar-nav li, .navbar-header {
  height: 100%;
}
.vertical_centering {

}
.category_element {
  cursor:pointer;
}
.category_element:hover{
  cursor:hand;
}

.form_element {
  float:left;
  background: lightgrey;
  border-width: 1px;
  border-style:solid;
}

.tableSelection:nth-child(odd) {
  background-color: #F9F9F9;
}

.tableSelection:hover td{
  background-color:#326ca6;
  color:white;
  cursor:pointer;
}

.tableHeader:hover {
  cursor:pointer;
  background-color: lightgray;
}
.tableHeader:active {
  cursor:pointer;
  background-color: lightslategray;
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}
#errorDescription {
  margin: auto;
  margin-top: 20px;
  width:95%;
}

.form-left{
  background: lightgray;
  border: solid;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  maring-bottom: 20px;
  height: 1em;
  padding: 5px;
}

.custom-Checkbox{
  background: cornflowerblue;
  color: white;
  padding: 1em;
  border-radius: 5px;
}
.custom-Checkbox:checked {
  background: red;
}

#page-wrap{
  margin: auto;
  width: 400px;
}

.datePicker{
  line-height:30px;
  border-style: solid;
  border-radius:  5px;
  border-color: #CCCCCC;
  border-width: 1px;
}

.b{
  cursor: default;
  color: black;
  text-decoration: none;
  padding-left: 1.5em;
  width:200px;
  padding: 1em;
}

.b:hover{
  cursor:pointer;
  color:white;
}

.gradient {
  background: -webkit-linear-gradient(left, red, yellow, green);
}

.animate-hide{
  transition: 0.5s linear all;
  height: 220px;
  overflow: hidden;
}
.animate-hide.ng-hide{
  height:0px;
  opacity: 0;
}

.modalExitBtn {
  float:right;
  margin-top: 1em;
  margin-right:1em;
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-size: 14pt;
  color:lightgrey;
  transition: background-color, 0.5s ease;
}
.modalExitBtn:hover {
  background-color:indianred;
  color:white;
  cursor:pointer;
}
