<div class="page_container"  id="help_view_container">
    <div class="padding_container">
        <div class="row">
            <div class="col-md-12">
                <legend>Rapporterte problemer</legend>
                <div class="help_image">
                    <img class="" class="help_image" src="resources/errors.png">
                </div>
                <div class="help_text">
                    <p>Rapporterte problemer tegnes på kartet som heatmap. Konsentrerte problemområder vil representeres som store røde flekker på kartet.</p>
                    <p>Verktøyet "Klikkbare punkter" kan brukes for å se mer på problemene i et valgt område. Dersom man velger et punkt som inkluderer et problem i sin radius, vil et vindu med mer informasjon om problemet dukke opp.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>Help_1</p>
            </div>
            <div class="col-md-5">
                <img class="help_image" align="right" src="resources/route.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="help_image" src="resources/speedmap.png">
            </div>
            <div class="col-md-7">
                <p>Help_1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>Help_1</p>
            </div>
            <div class="col-md-5">
                <img class="help_image" align="right" src="resources/speedmap_tools.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="help_image" src="resources/survey.png">
            </div>
            <div class="col-md-7">
                <p>Help_1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>Help_1</p>
            </div>
            <div class="col-md-5">
                <img class="help_image" align="right" src="resources/tools.png">
            </div>
        </div>
    </div>
</div>