<div class="page_container">
    <div class="padding_container">
        <h2>Brukerveiledning</h2>
        <div class="row">
            <div class="col-md-4">
                <p>Image_1</p>
            </div>
            <div class="col-md-8">
                <p>Help_1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Help_1</p>
            </div>
            <div class="col-md-4">
                <p>Image_1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Image_1</p>
            </div>
            <div class="col-md-8">
                <p>Help_1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Help_1</p>
            </div>
            <div class="col-md-4">
                <p>Image_1</p>
            </div>
        </div>
    </div>
</div>