<div class="page_container"  id="help_view_container">
    <div class="padding_container">
        <div class="row">
            <div class="col-md-12">
                <legend style="padding-top: 0;">Rapporterte problemer</legend>
                <div class="help_image">
                    <img class="help_image" src="resources/errors.png">
                </div>
                <div class="help_text">
                    <p>Rapporterte problemer tegnes på kartet som heatmap. Konsentrerte problemområder vil representeres
                        som store røde flekker på kartet.</p>
                    <p>Verktøyet "Klikkbare punkter" kan brukes for å se mer på problemene i et valgt område. Dersom
                        man velger et punkt som inkluderer et problem i sin radius, vil et vindu med mer informasjon
                        om problemet dukke opp. Verktøyet klikkstørrelse på høyre meny kan brukes for å gjøre den
                        valgbare radiusen i et punkt større eller mindre.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>Velg rute</legend>
                <div class="help_image">
                    <img class="help_image" src="resources/route.png">
                </div>
                <div class="help_text">
                    <p>Velg rute tegner alle ruter på kartet med en gjennomsiktighet. Dette vil si at høyt traffikerte
                        områder vises som sterkere linjer. </p>
                    <p>Denne visningen har også mulighet for å filtrere ruter som
                        går gjennom et sett med punkter. Dette gjøres ved å trykke på "Velg punkter i rute" og velge så
                        mange punkter som er ønskelig på kartet. Verktøyet klikkstørrelse på høyre meny kan brukes for
                        å gjøre den valgbare radiusen i et punkt større eller mindre.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>Spørreskjema</legend>
                <div class="help_image">
                    <img class="help_image" src="resources/survey.png">
                </div>
                <div class="help_text">
                    <p>Denne visningen brukes for å legge ut spørreundersøkelser til brukere. Ved å velge "Legg til
                        spørrepunkter" kan man velge områder der passerende syklister blir valgt ut til å svare på
                        spørreskjemaet.</p>
                    <p>Etter man har valgt punkter kan man trykke på knappen "Lag undersøkelse til
                        punkt(er)" for å opprette spørreundersøkelsen som skal bli gitt til syklister i valgt område. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>Fartsendring</legend>
                <div class="help_image">
                    <img class="help_image" src="resources/speedmap.png">
                </div>
                <div class="help_text">
                    <p>Fartsendring viser enten viser rutene med fargegradient eller et heatmap. Rutene er fargelagt
                        med en gradient fra grønn til rød, der grønn representerer høy hastighet og rød representerer
                        lav. Grensen for hva som er høy og lav kan stilles ved å bruke slideren "Grense".
                        Gjennomsiktigheten kan også stilles ved å bruke en slider kalt "Gjennomsiktighet".</p>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-12">
                <div class="help_image">
                    <img class="help_image" style="margin-left: 28px;" src="resources/speedmap_tools.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>Filtre</legend>
                <div class="help_image">
                    <img class="help_image" style="margin-left: 62px;" src="resources/tools.png">
                </div>
                <div class="help_text">
                    <p>Dette området inneholder forskjellige verktøy for å filtrere dataene på kartet. Det første
                    funksjonen er å kunne søke etter steder på kartet for å fort komme fram til riktig sted. Den andre
                    er en datovelger for å filtrere data over en periode. Man kan også filtrere for bare å få dataene
                    over et tidsintervall. Den siste funksjonen er muligheten for å endre radiusen til valgt område
                    i kartene med de forskjellige dataene.</p>
                </div>
            </div>
        </div>
    </div>
</div>