<div style="margin: 2em" ng-hide="lineClicked" ng-animate="'slide'">
    <legend>Veifeil</legend>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="tableHeader">Id
                <th class="tableHeader">Breddegrad
                <th class="tableHeader">Lengdegrad
                <th class="tableHeader">Tidsmerke
                <th class="tableHeader">Bilde
                <th class="tableHeader">Beskrivelse
                </tr>
        </thead>

        <tbody ng-click="lineClicked = !lineClicked">
        <tr ng-repeat = "data in selectedCluster" class="ng-scope tableSelection" ng-click="setError(data)">
            <td class ="ng-binding">{{data._id}}</td>
            <td class ="ng-binding">{{data.lon}}</td>
            <td class ="ng-binding">{{data.lat}}</td>
            <td class ="ng-binding">{{data.timestamp}}</td>
            <td class ="ng-binding" style="font-size: 20px; padding-left: 17px" data-ng-class="hasImage(data)"></td>
            <td class ="ng-binding">{{data.description}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div id="errorDescription" ng-show="lineClicked" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
   <div class="row" style="margin-top: 80px">
       <div class="col-md-6" >
           <img src="{{image.src}}" class="center-block">
       </div>
       <div class="col-md-6">
           <span><legend ng-hide="error.description ==''">Beskrivelse</legend></span> <br>
           <span><p>{{error.description}}</p></span>
       </div>
   </div>

    <div class="row" style="line-height: 25px; margin-bottom: 40px; margin-top: 40px">
        <div class="col-md-4">
            <span class="label label-default">BrukerID </span> <br>
            <span class="label label-default">Tidsmerke </span> <br>
            <span class="label label-default">Breddegrad: </span> <br>
            <span class="label label-default">Lengdegrad: </span>
        </div>
        <div class="col-md-8">
            <span>{{error._id}}</span> <br>
            <span>{{error.timestamp}}</span> <br>
            <span>{{error.lat}}</span> <br>
            <span>{{error.lon}}</span> <br>
            <span><button style="margin-top: 20px" ng-click="lineClicked = !lineClicked" id = "enableTooltip" type="button"  class="btn btn-primary"  ng-click="enableTooltip = !enableTooltip">Tilbake </button></span>
        </div>
    </div>


</div>