<div style="margin: 2em" ng-hide="lineClicked" ng-animate="'slide'">
    <legend>Veifeil</legend>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="tableHeader">Id
                <th class="tableHeader">Breddegrad
                <th class="tableHeader">Lengdegrad
                <th class="tableHeader">Dato
                <th class="tableHeader">Tidspunkt
                <th class="tableHeader">Bilde
                <th class="tableHeader">Beskrivelse
                </tr>
        </thead>

        <tbody ng-click="lineClicked = !lineClicked">
        <tr ng-repeat = "data in selectedCluster" class="ng-scope tableSelection">
            <td class ="ng-binding">{{data.Id}}</td>
            <td class ="ng-binding">{{data.Longitude}}</td>
            <td class ="ng-binding">{{data.Latitude}}</td>
            <td class ="ng-binding">{{data.Date}}</td>
            <td class ="ng-binding">{{data.Time}}</td>
            <td class ="ng-binding">---</td>
            <td class ="ng-binding">---</td>
            </tr>
        </tbody>
    </table>

</div>

<div id="errorDescription" ng-show="lineClicked" ng-click="lineClicked = !lineClicked" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <div class="col-md-12">
        <img ng-src="{{dataClicked.image}}" class="center-block"> <br>
    </div>

    <legend>Beskrivelse</legend>
    <p>{{dataClicked.description}}</p>

    <div class="row" style="line-height: 25px; margin-bottom: 40px">
        <div class="col-md-4">
            <span class="label label-default">BrukerID </span> <br>
            <span class="label label-default">Tidsmerke </span> <br>
            <span class="label label-default">Breddegrad: </span> <br>
            <span class="label label-default">Lengdegrad: </span>
        </div>
        <div class="col-md-8">
            <span>{{dataClicked.userId}}</span> <br>
            <span>{{dataClicked.timestamp}}</span> <br>
            <span>{{dataClicked.lat}}</span> <br>
            <span>{{dataClicked.lon}}</span>
        </div>
    </div>


</div>