<div id="categories" ng-class="{false: 'slide_categories_inactive', true: 'slide_categories_active'}[categoryActive]" class="slide_categories_active category_container">

    <legend>Kategorier</legend>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" ng-href="#collapseOne" target="_self" aria-expanded="true" aria-controls="collapseOne">
                        Heat Maps
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <span data-ng-class="isChecked('speedVar')" aria-hidden="true" style="color:black;"></span>
                    <a id="speedVar" class="category_element" ng-click="selectedHeatmap('speedVar')">Fartsendring</a> <br>
                    <span data-ng-class="isChecked('popularity')" aria-hidden="true" style="color:black;"></span>
                    <a id="popularity" class="category_element" ng-click="selectedHeatmap('popularity')">Popularitet</a><br>
                    <span data-ng-class="isChecked('Veifeil')" aria-hidden="true" style="color:black;"></span>
                    <a id="Veifeil" class="category_element" ng-click="selectedHeatmap('Veifeil')">Veifeil</a><br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" target="_self" aria-expanded="false" aria-controls="collapseTwo">
                        Rute
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <a id="linesPopularity" class="category_element" ng-click="selectedLines('Popularitet')">Popularitet</a><br>
                </div>
            </div>
        </div>
    </div>
    Du har valgt: <span style="float:right"><strong>{{currentlySelected}}</strong></span>
    <div id="categories_button"  ng-click="categories_slide('categories_button')"><span class="glyphicon" ng-class="{true: 'glyphicon-triangle-left', false: 'glyphicon-triangle-right'}[categoryActive]" aria-hidden="true"></span></div>
</div>

<div id="gmaps_panel" ng-class="{false: 'slide_gmaps_inactive', true: 'slide_gmaps_active'}[gmapsActive]" class="slide_gmaps_active category_container">
    <legend>Filtre</legend>
    <input id="searchField" class="controls form-control" type="text" placeholder="Search locations" style="margin-bottom:1em">
    <div style="height:60px;">
        <div class="input-group">
            <span class="input-group-addon">Fra: </span><input class="form-control" type="date" id="fromDate" ng-change="testChange()" ng-model="fromDate"/>
        </div>
    </div>

    <div style="height:60px; margin-bottom: 1em">
        <div class="input-group">
            <span class="input-group-addon">Til: </span><input class="form-control" type="date" id="toDate" ng-change="testChange()" ng-model="toDate"/>
        </div>
    </div>

    <div style="height:60px; margin-bottom: 1em">
        <div class="input-group">
            <span class="input-group-addon">Tidsrom: </span>
            <input class="form-control" type="time" id="fromTime" ng-model="fromTime" ng-change="testChange()"/>
            <input class="form-control" type="time" id="toTime" ng-model="toTime" ng-change="testChange()"/>
        </div>
    </div>

    <div style="height:60px; margin-bottom: 1em">
        <div class="input-group">
            <span class="input-group-addon">Klikkradius </span><input class="form-control" type="range" value = "50" max = "1000" min = "5" ng-model="clickRadius">
        </div>
    </div>

    <!--
    <div style="height:60px; margin-bottom: 1em">
        <div class="input-group">
            <span class="input-group-addon">Punktradius </span><input class="form-control" type="range" value = '20' max = "20" min = "2" ng-model="pointRadius">
        </div>
    </div>

    <button type="button" ng-click="changePointRadius()">Oppdater radius</button>
-->
    <button type="button" class="btn" style="background: #ED7A43; color: white" ng-click="resetFilter()">Nullstill</button>

    <div id="gmaps_panel_button"  ng-click="gmaps_slide('gmaps_panel_button')"><span class="glyphicon" ng-class="{true: 'glyphicon-triangle-right', false: 'glyphicon-triangle-left'}[gmapsActive]" aria-hidden="true"></span></div>
    <button type="button" class="btn btn-primary" data-toggle="button" ng-click="enableTooltip = !enableTooltip">
        Klikkbare punkter
    </button>
</div>

<div id="map"></div>

